<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <link href="http://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">
                
    <title>Normal Grid</title>
</head>
<body>
    <div class="gallery-heading">
    <h1> Queens</h1>
</div>
    <div class="grid-box">
        
        <img src="images/grid-1.jpg" alt="">
        <img src="images/grid-2.jpg" alt="">
        <img src="images/grid-3.jpg" alt="">
        <img src="images/grid-4.jpg" alt="">
        <img src="images/grid-12.jpg" alt="">
        <img src="images/grid-6.jpg" alt="">
      
        
        <img src="images/grid-8.jpg" alt="">
        <img src="images/grid-9.jpg" alt="">
        <img src="images/grid-5.jpg" alt="">
        <img src="images/grid-7.jpg" alt="">
        <img src="images/grid-10.jpg" alt="">
        <img src="images/grid-11.jpg" alt="">
       
       
        
      
       
    </div>
</body>
</html>