<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <link href="http://fonts.cdnfonts.com/css/circular-std" rel="stylesheet">
                
    <title>Normal Grid</title>
</head>
<body>
    <div class="gallery-heading">
    <h1> Blog Website</h1>
</div>
    <div class="grid-box" >
        
        <div class="grid-column-1" ><h2 >  About this page</h2></div>
        <div class="grid-column-2">
            <p>I did my sketches on paper due to pressure and time constraints. I also appreciate the ability to scribble something down as I design. The inspiration for this blog in both aesthetics and design was this Soledad WordPress Theme. I loved the cleanliness and simplicity of it. I have also fallen in love with CSS's grid layouts, a common theme throughout my designs. Some slight difference between the theme and my design is that I used more warm tones in the pictures. I also included a right sidebar, thus utilizing two grids instead of three for my blog posts. Although the social media icons were a pain resulting in a less than pleasing look in the mobile version, the homepage is fully responsive. </p>
        </div>
        <img src="images/work-flow-1-2.png" alt="">
        <img src="images/work-flow-1-1.JPG" alt="">
        <img src="images/work-flow-1-3.png" alt="">
        <img src="images/work-flow-1-4.png" alt="">
        <img src="images/work-flow-1-5.png" alt="">
        <img src="images/work-flow-1-6.png" alt="">
        <img src="images/work-flow-1-7.png" alt="">
        <img src="images/work-flow-1-8.png" alt="">
        <img src="images/work-flow-1-10.jpg" alt="">
 
      
        
       
       
        
      
       
    </div>
</body>
</html>