*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-content h1{
    padding-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

.profile-content p{
    border-bottom: black solid 1px;
    padding-bottom: 10px;

}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align:justify;
 
    
}

br {
    padding-top: 50px;

}

#content-container .about-card{
    flex-direction: column;
    position:relative;
    display: flex;
}
#content-container .card:nth-child(even)
{
flex-direction: column;
}
#content-container .about-card .profile{
    width: 700px;
    padding: 40px 0;

    
}
#content-container .about-card .profile-content{
   text-align:justify;
}
#portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    box-sizing: border-box;
    
}
.content-container{
    position: relative;
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
    margin: 20px;
}

.content-container .card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 5px 0;

}


.content-container .card:nth-child(even)
{
    flex-direction: row-reverse;
}


.content-container .card .img-box{
    position: relative;
    width: 700px;; 
    height: 350px;
}
.content-container .card .img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.content-container .card .content{
    position: relative;
    width: 700px; /*change to 50%*/
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.content-container .card div{
    padding: 20px;
    text-align: center;
}


body{
    margin: 0 auto;
    padding: 0;
}

.grid-box
{
    --num-cols:3;
    --row-height:300px;
    --gap:16px;

    box-sizing: border-box;
    padding:16px 80px;

    display: grid;
    
    
    gap: var(--gap);
}
.gallery-heading{
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
}

.gallery-heading a{
    color: black;

}
.grid-box p{
    grid-column: span 3;
    padding: 20px;
}

.grid-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-column-1{
    grid-column: span 1;
}
.grid-column-2{
   grid-column: span 2;
   
}
.grid-column-1, .grid-column-2{
    grid-row: span 1;
}
@media (max-width: 1024px){
    .content-container {
        grid-template-columns: repeat(auto-fit, minmax(100%,1fr));
        margin: 50px;
    }
    .content-container .card{
        flex-direction: row;
        margin: 10px 0;
    }

    .content-container .card:nth-child(even)
    {
    flex-direction: row-reverse;
    }

    .content-container .card .img-box,
    .content-container .card .content{
        width: 50%;
    }

}

#workflow{
    --num-cols:4;
    --row-height:300px;
    --gap:16px;

    box-sizing: border-box;
    padding:16px 80px;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    
    gap: var(--gap);

}
@media (max-width: 768px){
     .content-container .card{
         flex-direction: column;
     }
     .content-container .card:nth-child(even)
    {
    flex-direction: column;
    }
    .content-container .card .img-box,
    .content-container .card .content{
        width: 100%;
    }

}


@media screen and (max-width: 1024px){
    .grid-box .card .grid-column-1 .grid-column-2{
        --num-cols: 2;
        

    }
    .gallery-heading{
        font-size: 30px;
    }
    
}

@media screen  and (max-width: 600px){
    .grid-box, #workflow, .grid-column-1,.grid-column-2 {
        --num-cols: 1;
    }
    .gallery-heading{
        font-size: 20px;
    }
    
}
/*
@media screen  and (max-width: 320px){
    .grid-box #workflow .grid-column-1 .grid-column-2 {
        --num-cols: 1;
    }
    .gallery-heading{
        font-size: 20px;
    }
    .img-box img{
        size: 100%;
        
    }

    p{
        font-size: 12px;
        line-height: 18px;
        padding: 8px 18px;
    }
    .content-container .card div {
        padding:0;
    }
}
*/


p a{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #eaac8b;
    
}

.grid-column-1 h2{
    font-family: 'Open sans', sans-serif;
    border-bottom: solid black 1px;
    padding-bottom: 5px;

}

/*

@media screen  and (max-width: 375px){
    .grid-box #workflow .grid-column-1 .grid-column-2 {
        --num-cols: 1;
    }
    .gallery-heading{
        font-size: 20px;
    }
    .img-box img{
        size: 100%;
        
    }

    p{
        font-size: 14px;
        line-height: 24px;
    }
    .content-container .card div {
        padding:0;
    }
    .grid-column-1{
        grid-column: span 1;
    }
    .grid-column-2{
       grid-column: span 1;
       
    }

    .grid-column-2 p{
        padding: 0 0;
    }

    .grid-box{
        padding: 0 0;
        --num-cols: 1;
        gap: 5px;
        padding: 5px ;
        
        
        

    }
    
   

}*/

@media screen  and (max-width: 425px){
    .grid-box #workflow .grid-column-1 .grid-column-2 {
        --num-cols: 1;
    }
    .gallery-heading{
        font-size: 18px;
    }
    .img-box img{
        size: 100%;
        
    }

    p{
        font-size: 15px;
        line-height: 28px;
    }
    .content-container .card div {
        padding:0;
    }
    .grid-box{
        display:block;
        padding: 20px
    }

    .profile-content h1{
        font-size: 30px;
    }

    .grid-column-1 h2{
        font-size: 18px;
    }


}